/* basic styling */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
:root{
    --Light-red: hsl(356, 100%, 66%);
    --Very-light-red: hsl(355, 100%, 74%);
    --Very-dark-blue: hsl(208, 49%, 24%);
    --White: hsl(0, 0%, 100%);
    --Grayish-blue: hsl(240, 2%, 79%);
    --Light-Grayish-blue: hsla(240, 3%, 79%, 0.321);
    --Very-dark-grayish-blue-: hsl(207, 13%, 34%);
    --Very-dark-black-blue: hsl(240, 10%, 16%);
    --bg-gradient1:hsl(13, 100%, 72%);
    --bg-gradient2:hsl(353, 100%, 62%);
    --body-gradient1:hsl(237, 17%, 21%);
    --body-gradient2: hsl(237, 23%, 32%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* header and intro section */
.head-intro{
    width: 100%;
    background: 
    url(../images/bg-pattern-intro-desktop.svg) top 51% left 25.3%  no-repeat,
    linear-gradient(to right, var(--bg-gradient1), var(--bg-gradient2));
   flex-direction: column;
    overflow: visible;
    min-height: 65vh;
    gap: 10%;
    padding-bottom: 1rem;
    border-bottom-left-radius:10vh;
}
.navbar{
    width: 100%;
    
}
.navbar .container{
    padding-block: 3rem;
    gap: 3rem;
    position: relative;
}

.navbar .container .logo img{
    width: 100% ;
}
.navbar .container .open-close{
    display: none;
    position: relative;
    margin-left: auto;
    min-width: 2rem;
}
.navbar .container .open, .navbar .container .close{
    display: none;
    cursor: pointer;
    transition: opacity .5s ease-in-out;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.navbar .container .open{
    z-index: 2;
    animation: to-left .5s ease-in-out;
}
.navbar .container .close{
    z-index: 1;
    opacity: 0;
    width: 80%;
}
.navbar .container .open-hide{
    z-index: 1;
    opacity: 0;
}
.navbar .container .close-show{
    z-index: 2;
    opacity: 1;
}
.container nav{
    flex-grow: 1;
}
.container .header-nav-title{
    padding: 1.2rem 1.5rem;
    padding-right: .5rem;
    cursor: pointer;
}
.container .menu:hover .header-nav-title, .container nav .login li:hover span {
    opacity: 1;
}
.container .menu:hover .header-nav-title span::after,  .container nav .login li:hover span::after{
    transform: scaleX(1);
}
.container .menu:hover  .dropdown{
    clip-path: inset(-50% -50% -50% -50%);
}
.container .menu:hover .arrow{
    transform: rotate(180deg);
}
.container .header-nav-title ,.login span{
    opacity: .75;
    font-weight: 500;
}
.container .header-nav-title span{
    position: relative;
}
.container .header-nav-title span::after,.container nav .login span::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .1rem;
    background-color: var(--White);
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
}
.header-nav-title .arrow{
    margin-left: .5rem;
    transition: transform .5s ease-in-out;
}
.a-dark{
    display: none;
}
.container nav .dropdown{
    position: absolute;
    width: 130%;
    background-color: var(--White);
    padding: 1rem 1.2rem;
    left: 0;
    line-height: 2;
    border-radius: .4rem;
    box-shadow: rgba(0, 0, 0, 0.173) 0px 20px 15px;
    transition: clip-path .5s ease-in-out;
    clip-path: inset(0% 0% 100% 0%);
    z-index: 2;
}
.dropdown a{
    color: var(--Very-dark-blue);
    font-size: .85rem;
    font-weight: 500;
   
}
.dropdown a:hover{
    font-weight: 700;
}
.navbar .container nav li{
    position: relative;
}
.navbar .container nav li,.login a{
    color: var(--White);
    
}
.navbar .container nav .login{
    margin-left: auto;
}

/* intro */

.intro h1{
    font-size: clamp(2.1rem, 3vw + 1rem, 3.8rem);
    
}
.intro .btn{
    padding-inline: 1rem;
}

.intro p{
    font-size: 1.2rem;
    opacity: 0.75;
}
.buttons-wrapper{
    align-items: unset;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
}
/* main */
main{
    flex-direction: column;
    gap: 1rem;
}
main > *{
    width: 100%;
}
/* description & advantages */
.description,.advantages{
    padding-block: max(7rem,14%);
    /* background-image: url(../images/illustration-editor-desktop.svg); */
    position: relative;
    overflow: visible;
    
}
.description .img-desktop{
    position: absolute;
    top: 5rem;
    right: -17rem;
}
.description .img-mobile,.advantages .img-mobile{
    display: none;
}
.text p{
    color: var(--Very-dark-grayish-blue-);
}
.text,.img-mobile{
    max-width: 32.5rem;
    margin-top: max(3.5rem, 9%) 
}
.text:nth-of-type(2){
    margin-top: max(3.5rem, 6%) 
}
.text .font-heading{
    margin-bottom: max(1rem, 5%) ;
}
.advantages .img-desktop{
    position: absolute;
    top: 12%;
    left: -16.5rem;
    object-fit: contain;
    max-width:64% ;
    
}
.advantages .text{
    margin-left: auto;
    
} 
.advantages .text:first-of-type{
    margin-top: max(3.5rem, 7%) 
}
.advantages, .description{
    margin-bottom: 3rem;
}
/* middle */
.middle{
    overflow: visible;
    background: url(../images/bg-pattern-circles.svg) top 85% left -50% no-repeat, 
    linear-gradient(to left,  var(--body-gradient2),var(--body-gradient1))
    
    ;
    overflow: visible;
    border-radius: 0 12vh 0 12vh ;
    min-height: 25vh;
    padding-block: 7.35rem;
    position: relative;
}
.middle .container{
    position: relative;
    
}
.middle .container img{
    width: 47%;
   position: absolute;
   top: -110%;
}
.middle .container .text{
    margin-top: 0;
   grid-column: 2;
    
}
.middle .text p{
    color:var(--White) !important;
    opacity: .75;
}
.middle .text h2{
    font-size: clamp(1.8rem, 2vw + 1rem, 2.3rem);
}
/* utilities */
.flex{
    display: flex;
    align-items: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.container{
    max-width: 75rem;
    padding-inline: 2rem;
    margin-inline: auto;
}
.font-heading{
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    line-height: 1.2;
}
.blue-head{
    color: var(--Very-dark-blue);
}
.gap-2{
    gap: 2rem;
}
.btn{
    padding: .9rem 2.5rem;
    border-radius: 2rem;
    transition: all .5s ease-in-out;
}
.btn-white{
    font-weight: 500;
    color: var(--Light-red) !important;
    background-color: var(--White);
}
.btn-transparet{
    font-weight: 500;
    color: var(--White) !important;
    background-color: transparent;
    border: 1px solid var(--White);
}
.btn-white:hover{
    background-color: var(--Very-light-red);
    color: var(--White) !important;
}
.btn-transparet:hover{
    color: var(--Light-red) !important;
    background-color: var(--White);
}
.dark-text{
    color: var(--Very-dark-blue);
}
.text-white{
    color: var(--White);
}
.text-center{
    text-align: center;
}
.margin-block-2{
    margin-block: 1rem 3rem;
}
.xl-text{
    font-size: clamp(1.8rem, 2vw + 1rem, 2.5rem);
    
}
.l-text{
    font-size: clamp(1.7rem, 2vw + 1rem, 1.5rem);
    
}
/* footer */
footer{
    background-color: var(--Very-dark-black-blue);
    border-top-right-radius: 10vh;
    padding-block: 5rem;
    
}

footer nav{
    align-items: flex-start !important;
    justify-content: space-evenly;
}
footer .container .logo{
    align-self: flex-start;
}
footer .container .footer-nav-title{
    color: var(--White);
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: .95rem;
}
footer .container li a{
    line-height: 2.3;
    color: var(--Grayish-blue);
    font-size: .9rem;
    position: relative;
}
footer .container li a::after{
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -.1rem;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--Grayish-blue);
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
}
footer .container a:hover::after  {
    transform: scaleX(1);
}
/* Animations */
@keyframes to-left{
    0%{
        transform: translate(10rem,-50%);
    }
    100%{
        transform: translateX(0%,-50%);
    }
}
/* Attributions */
.attribution { font-size: 11px; text-align: center;
    margin-top: 1rem;
}
.attribution a { color: hsl(228, 45%, 44%); }
/* Media queires */
@media(max-width:1170px){
    /* description  */
.description .container, .advantages .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    
}
.description h2{
    grid-column: 1/-1;
}
.description .img-desktop,.advantages .img-desktop{
    display: none;
}
.advantages .img-mobile{
    display: block;
    grid-row: span 2;
}
.description .img-mobile{
    display: block;
    grid-column: 2;
    grid-row: 2 / span 2;
    max-width: 100%;
    
}
}
@media(max-width:1075px){
    /* middle */
    .middle .container img{
        top: -50% ;
    }
}
@media(max-width:50rem){
    /* intro-header */
    .head-intro{
        background: 
    url(../images/bg-pattern-intro-mobile.svg) top 35% left 35%  no-repeat ,
    linear-gradient(to bottom, var(--bg-gradient1), var(--bg-gradient2));
    }
    /* Navbar */
    .navbar .container .open, .navbar .container .close, .open-close{
        display: block !important;
    }
    .navbar .container nav{
       position: absolute;
       width: calc(100% - 4rem);
       left: 50%;
       transform: translateX(-50%);
        top: 85%;
        z-index: 4;
        background-color: var(--White);
        clip-path: inset(0% 0% 100% 0%);
        padding-inline: 1.5rem;
        border-radius: .4rem;
        box-shadow: rgba(0, 0, 0, 0.173) 0px 20px 15px;
       padding-block: 1.5rem;
       transition: clip-path .5s ease-in-out;
    }
    .show-nav{
        clip-path: inset(-100% -100% -100% -100%) !important;
    }
    .container nav ul[class="flex"]{
        text-align: center;
        flex-direction: column;
    }
    .container nav ul[class="flex"] > * {
        width: 100%;
    }
    .container nav .header-nav-title{
        color: var(--Very-dark-blue);
        padding-block: .8rem;
    }
    .a-dark{
        display: initial;
    }
    .a-light{
        display: none;
    }
    .dropdown{
        position: relative !important;
        width: 100% !important;
        overflow: hidden;
        clip-path: unset !important;
        box-shadow: unset !important;
        background-color: var(--Light-Grayish-blue) !important;
        max-height: 0;
        padding-block: 0 !important;
        transition: all .5s ease-in-out !important;
    }
    .show-dropdown{
        max-height: 12rem ;
        
        padding-block: 1rem !important;
        transition: all .5s ease-in-out;
        
    }
    .dropdown a{
        color: var(--Very-dark-blue);
        opacity: 0.7;
    }
    .login{
        border-top: 1px solid var(--Grayish-blue);
        margin-left: unset !important;
        flex-direction: column;
        width: 100%;
        margin-top: 1.5rem;
        padding-block: 2rem;
        gap: 2rem;
    }
    .login .btn{
        color: var(--White) !important;
        background-image: linear-gradient(to right, var(--bg-gradient1), var(--bg-gradient2)) ;
        
    }
    .login a{
        color: var(--Very-dark-blue);
    }
    
    .menu:hover .header-nav-title .arrow{
        transform: rotate(0deg);
    }
    .menu:hover .header-nav-title .arrow.rotate-arrow{
        transform: rotate(180deg);
    }
    .menu:hover .header-nav-title span{
        all: unset;
    }
    .container .header-nav-title ,.login span{
        opacity: 1;
        
    }
    .container .menu:hover  .dropdown{
        clip-path: unset;
    }
    .dropdown a:hover{
        font-weight: 500;
    }
    .menu .header-nav-title span::after{
        content: unset;
    }
    .rotate-arrow{
        transform: rotate(180deg);
    }
    .header-opacity{
        opacity: 0.75 !important;
    }
    .header-opacity:hover{
        opacity: 0.75 !important;
    }
     /* description  */
     .advantages .text{
        margin-left: unset ;
     }
     .advantages{
        padding-top: 0;
     }
.description .container, .advantages .container{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
}
.description h2{
    grid-column: 1/-1;
}

.description .img-mobile, .advantages .img-mobile{
    display: block;
    grid-row: 2 ;
    grid-column: unset;
    max-width: 100%;
    
}
.advantages .img-mobile{
    grid-row: unset;
}
   /* middle */
   .middle{
    height: fit-content !important;
    margin-top: 4rem;
    background: url(../images/bg-pattern-circles.svg) center -14.5rem / cover no-repeat, 
    linear-gradient(to left,  var(--body-gradient2),var(--body-gradient1))
    
    ;
   }
   .middle .container{
        display: block;
   }
   .middle .text{
    grid-column: unset !important;
    text-align: center;
    padding-top: 6rem;
    margin: auto;
    /* grid-row: 2; */
   }
   .middle .container img{
    position: absolute;
   top: max(-90%,-17rem);
    width: min(21rem, 100%);
    object-fit: contain;
    left: 50%;
    transform: translateX(-50%);

   }
}
@media(max-width:470px){
    /* navbar */
    .navbar .container .logo img{
        max-width: 5rem;
        object-fit: contain;
    }
    /* footer */
    footer .container{
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    footer .container img{
        align-self: center !important;
    }
    footer nav{
        flex-direction: column;
        gap: 2.3rem;
        text-align: center;
        justify-content: center;
        align-items: center !important;
    }
}